<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true">
  <h6 style="color: white;"> {{"loading" | translate}} </h6>
</ngx-spinner>
<div class="content">
  <div class="navbar d-flex justify-content-center align-items-center">
    <!-- <h2>QPMO<sub>system</sub></h2> -->
    <img src="../../../../assets/images/Dashboard-icons/final_logo.png" style="width: 90px; margin: 5px 0" alt="qpmo_logo">
  </div>
  <div class="login-page py-5">
    <div class="login-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="login-form">
              <div class="form-data">
                <img src="../../../../assets/images/Dashboard-icons/final_logo.png" alt="login-logo">
                <h3>{{"reset" | translate }}</h3>
                <h6>{{"phone-please-msg" | translate }}</h6>
                <div class="form">
                  <form [formGroup]="phoneForm" (ngSubmit)="submitPhoneForm(phoneForm)">
                    <div class="form-group my-5">
                      <input type="test" [placeholder]="'phone-no' | translate" formControlName="Phone">
                    </div>
                    <button [disabled]="phoneForm.invalid" class="btn my-2" type="submit">{{"varify" | translate
                      }}</button>
                  </form>
                  <div class="msg-validate">
                    <p class="text-danger" id="validate-msg">{{"credentials" | translate }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="intro-img">
              <img src="../../../../assets/images/Dashboard-icons/login-image.png" class="img-fluid" alt="QDPM System">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
