<ng-container *ngIf="data">
<div class="row project-detail px-3 mb-5">
  <div class="day-project">
    <div class="project-card-details">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <p>{{"project-name" | translate }}</p>
          <span>{{data['Project_Name']}}</span>
          <!-- <span>{{data.Project_Name}}</span> -->
        </div>
        <div class="col-md-6 col-lg-3">
          <p>{{"contractors-name" | translate }}</p>
          <span>{{data['Project_Maqawl']['Maqawl_Name']}}</span>
        </div>
        <div class="col-md-6 col-lg-3">
          <p>{{"contract-no" | translate }}</p>
          <span>{{data['Project_ContractCode']}}</span>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="icons">
            <img src="../../../../assets/images/Dashboard-icons/Favorite-gray.png" alt="favourite icon" *ngIf="data['IsFav'] == false"
              >
            <img src="../../../../assets/images/Dashboard-icons/Favorite-blue.png" alt="favourite icon" *ngIf="data['IsFav'] == true"
            >
            <img src="../../../../assets/images/Dashboard-icons/maximize.png" alt="maximize icon"
              (click)="showProjectProcess()" *ngIf="!minimize">
            <img src="../../../../assets/images/Dashboard-icons/minimize.png" alt="minimize icon"
              (click)="showProjectProcess()" *ngIf="minimize">
            <img src="../../../../assets/images/Dashboard-icons/exit.png" alt="exit icon"
              (click)="closeProjectCardDetails()">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg py-1 px-2">
          <div class="projects-follow-card">
            <h4>{{"project-start" | translate }}</h4>
            <div class="number p-3">
              <img src="../../../../assets/images/Dashboard-icons/date.png" alt="date icon">
              <p>{{data['StartDate'] | date}}</p>
              <!-- | date:'shortDate' -->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg py-1 px-2">
          <div class="projects-follow-card">
            <h4>{{"remaining-days" | translate }}</h4>
            <div class="number p-3">
              <p>{{data['RemainingDays']}}<bdi> {{"day" | translate }} </bdi></p>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Success example" [style.width]="data['Project_User_Percentage']+'%'"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" [class]="data['Project_User_Percentage']<=25?'bg-danger':data['Project_User_Percentage']<=50?'bg-warning':data['Project_User_Percentage']<=75?'bg-success':data['Project_User_Percentage']<=100?'bg-primary':''"></div>
              </div>
              <span>{{data['LaunchedDate'] | date }} </span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg py-1 px-2">
          <div class="projects-follow-card">
            <h4>{{"project-fiels" | translate }}</h4>
            <div class="number p-3">
              <p>xxxxxxxx.pdf</p>
              <p>xxxxxxxx.pdf</p>
              <p>xxxxxxxx.pdf</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg py-1 px-2">
          <div class="projects-follow-card">
            <h4>{{"contractor-c-rate" | translate }}</h4>
            <div class="number p-3">
              <div class="degree ">
                <div class="set-size charts-container">
                  <!-- class="pie-wrapper progress-60 style-2" -->
                  <div class="pie-wrapper progress-{{data['Project_Maqawl_Percentage']}} style-2">
                    <span class="label">{{data['Project_Maqawl_Percentage']}}%<span class="smaller"></span></span>
                    <div class="pie">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div>
                    <div class="shadow"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg py-1 px-2">
          <div class="projects-follow-card">
            <h4>{{"section-a-rate" | translate }}</h4>
            <div class="number p-3">
              <div class="degree ">
                <div class="set-size charts-container">
                  <div class="pie-wrapper progress-{{data['Project_User_Percentage']}} style-2">
                    <span class="label">{{data['Project_User_Percentage']}}%<span class="smaller"></span></span>
                    <div class="pie">
                      <div class="left-side half-circle"></div>
                      <div class="right-side half-circle"></div>
                    </div>
                    <div class="shadow"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row project-process w-100 m-auto  px-0 mx-0">
        <p>{{"project-phases" | translate }}</p>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-2 " *ngFor="let projectProcess of projectProcesses">
            <div class="process hover" data-bs-toggle="modal" data-bs-target="#deliveryModal">
              <img src="../../../../assets/images/Dashboard-icons/refresh-ratio.png" alt="alert delay icon">
              <p>{{projectProcess.ProjectAction_Name}}</p>
            </div>
          </div>


          <!-- <div class="col-sm-6 col-md-4 col-lg-2 ">
            <div class="process hover" data-bs-toggle="modal" data-bs-target="#deliveryModal">
              <img src="../../../../assets/images/Dashboard-icons/alert-delay.png" alt="alert delay icon">
              <p>{{"delivery-alert" | translate }}</p>
            </div>
          </div> -->
          <!-- <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="process hover" data-bs-toggle="modal" data-bs-target="#imageUpdateModal">
              <img src="../../../../assets/images/Dashboard-icons/update-photos.png" alt="update-photos icon"
                class="hover">
              <p>{{"request-update-images" | translate }}</p>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="process hover" data-bs-toggle="modal" data-bs-target="#completionRateUpdateModal">
              <img src="../../../../assets/images/Dashboard-icons/refresh-ratio.png" alt="refresh-ratio icon">
              <p>{{"request-update-completion-rate" | translate }}</p>
            </div>
          </div>

          <!-- <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="process hover" data-bs-toggle="modal" data-bs-target="#deadlineAlertModal">
              <img src="../../../../assets/images/Dashboard-icons/alert-timeout.png" alt="alert timeout icon">
              <p>{{"request-alert" | translate }}</p>
            </div>
          </div> -->
          <div class="col-sm-6 col-md-4 col-lg-2">
            <div class="process hover" data-bs-toggle="modal" data-bs-target="#inventoryModal">
              <img src="../../../../assets/images/Dashboard-icons/inventory.png" alt="inventory icon">
              <p>{{"an-inventory" | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row project-dates">
        <div class="filter-date w-100 d-flex justify-content-end">
          <div class="date-span ms-auto">
            <input type="month" class="w-100" value="2022-06">
          </div>
        </div>
        <div class="row project-images">
          <swiper [slidesPerView]="'auto'" [spaceBetween]="10" [loop]="true" [autoplay]="{
            delay: 2000,
            disableOnInteraction: false
          }" [centeredSlides]="true" class="swiper">
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
            <ng-template swiperSlide class="swiperSlide">
              <div class="date">
                <div class="date-img">
                  <img src="../../../../assets/images/Dashboard-icons/imagesoon.png" class="project-image" alt="image soon">
                </div>
                <p>05/02/2020</p>
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
<!-- delivery alert Modal -->
<div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="update-image">
          <img src="../../../../assets/images/Dashboard-icons/alert-delay.png" alt="delivery alert delay icon">
        </div>
      </div>
      <div class="modal-body px-2 py-0">
        <h4>{{"request-delivery-alert" | translate}}</h4>
      </div>
      <div class="modal-footer py-0">
        <div class="butns py-0">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal" id="liveToastBtn">{{"confirm" | translate}}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- image update alert Modal -->
<div class="modal fade" id="imageUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="update-image">
          <img src="../../../../assets/images/Dashboard-icons/update-photos.png" alt="update photos">
        </div>
      </div>
      <div class="modal-body px-2 py-0">
        <h4>{{"request-update-images-msg" | translate}}</h4>
      </div>
      <div class="modal-footer py-0">
        <div class="butns py-0">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"confirm" | translate}}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- update completion rate modal -->
<div class="modal fade" id="completionRateUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="update-image">
          <img src="../../../../assets/images/Dashboard-icons/refresh-ratio.png" alt="refresh-ratio icon">
        </div>
      </div>
      <div class="modal-body px-2 py-0">
        <h4>{{"request-completion-rate" | translate}}</h4>
        <div class="w-75 m-auto py-4">
          <ngx-slider [(value)]="data['Project_User_Percentage']" [options]="completionRateOptions" (userChange)="onUserChange($event)"></ngx-slider>
        </div>
      </div>
      <div class="modal-footer py-0">
        <div class="butns py-0">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal" (click)="changeCompletionRange(data['ID'])">{{"confirm" | translate}}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- deadline alert modal -->
<div class="modal fade" id="deadlineAlertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="update-image">
          <img src="../../../../assets/images/Dashboard-icons/alert-timeout.png" alt="refresh-ratio icon">
        </div>
      </div>
      <div class="modal-body px-2 py-0">
        <h4>{{"request-deadline-alert" | translate}}</h4>
      </div>
      <div class="modal-footer py-0">
        <div class="butns py-0">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"confirm" | translate}}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- inventory modal -->
<div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="update-image">
          <img src="../../../../assets/images/Dashboard-icons/inventory.png" alt="refresh-ratio icon">
        </div>
      </div>
      <div class="modal-body px-2 py-0">
        <h4>{{"inventory-alert" | translate}}</h4>
      </div>
      <div class="modal-footer py-0">
        <div class="butns py-0">
          <div class="row">
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"confirm" | translate}}</button>
            </div>
            <div class="col-sm-6">
              <button type="button" data-bs-dismiss="modal">{{"cancel" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</ng-container>
