.project-detail {
  padding: 0;

  .day-projects {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: none;
    position: relative;


    >ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;

      li {
        width: 100%;
        background-color: #F3F5FD;
        border-radius: 5px;
        margin: 5px 0;
        padding: 5px 20px;
        display: flex;
        align-items: center;

        p {
          padding: 0;
          margin: 0;
          color: #3D3D3D;
          font-size: 14px;
          font-weight: bold;
        }

        img {
          width: 18px;
        }

        .row {
          .col-sm-6 {
            .project-card {
              border-radius: 20px;
              display: flex;
              flex-direction: column;
              margin: 5px 10px;
              padding: 20px 10px;
              min-width: 200px;
              transition: all 0.3s;

              &:hover {
                cursor: pointer;
                border-radius: 5px;
              }

              h5 {
                color: #3D3D3D;
                font-size: 16px;
                font-weight: 700;
              }

              p {
                margin: 0;
                padding: 0;
                color: #fff;
                font-weight: 400;
              }
            }
          }

          .col-sm-6:first-of-type .project-card {
            // background-color: #4CB871;
            background: linear-gradient(231deg, #4CB871 0%, #E9E9E9 100%);
          }

          .col-sm-6:nth-of-type(2) .project-card {
            // background-color: #F24773;
            background: linear-gradient(231deg, #F24773 0%, #E9E9E9 100%)
          }

          .col-sm-6:nth-of-type(3) .project-card {
            // background-color: #068DF5;
            background: linear-gradient(231deg, #068DF5 0%, #E9E9E9 100%)
          }
        }
      }

      li:first-of-type {
        justify-content: space-between;
      }

      li:nth-of-type(2) {
        padding: 10px 20px;
        justify-content: center;
      }

    }

    .project-card-details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: #fff;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0px 0px 5px 2px #ccc;
      display: none;
      max-height: 700px;
      overflow-x: hidden;

      .row {
        padding: 3px 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: 2px solid #eee;

        .col-md-6 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 0;
          margin: 0;



          p {
            font-weight: bold;
            font-size: 14px;
            color: #3D3D3D;
            padding: 0;
            margin: 0 10px;
          }

          span {
            color: #068DF5;
          }

          .icons {
            padding: 0 3px;

            img {
              width: 20px;
              margin: 0 3px;

              &:hover {
                cursor: pointer;
              }
            }
          }

        }

        .col-md-6:last-of-type {
          justify-content: flex-end !important;
        }
      }

      .row {
        .projects-follow-card {
          background-color: #F3F5FD;
          padding: 5px;
          border-radius: 15px;
          text-align: center;

          h4 {
            margin: 5px 0;
            color: #3D3D3D;
            font-size: 18px;
            font-weight: bold;
          }

          .number {
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            img {
              width: 50px;

            }


          }
        }

        .col-sm-6:first-of-type {
          .projects-follow-card {
            .number {
              p {
                font-size: 14px;
                font-weight: bold;
                color: #3D3D3D;
                padding: 0;
                margin: 0;
              }
            }
          }
        }

        .col-sm-6:nth-of-type(2) {
          .projects-follow-card {
            .number {
              p {
                font-size: 16px;
                font-weight: bold;
                color: #068DF5;
                padding: 0;
                margin: 0;
              }

              .progress {
                width: 120px;
                height: 5px;
                outline: 0.5px solid #ccc;
                border-radius: 5px;
                padding: 0;
                margin: 12px 0;
                background-color: #eee;

                .progress-bar {
                  border-radius: 5px;
                  overflow: hidden;
                }
              }

              span {
                font-size: 12px;
                color: #3D3D3D;
              }
            }
          }
        }

        .col-sm-6:nth-of-type(3) {
          .projects-follow-card {
            .number {
              p {
                font-size: 14px;
                color: #068DF5;
                padding: 2px 0;
                margin: 0;
              }
            }
          }
        }

        .col-sm-6:nth-of-type(4),
        .col-sm-6:nth-of-type(5) {
          .projects-follow-card {
            .number {

              // -- vars
              $bg-color: #34495e;
              $default-size: 1em;
              $label-font-size: $default-size / 4;
              $label-font-size-redo: $default-size * 4;

              // -- mixins
              @mixin size($width, $height) {
                height: $height;
                width: $width;
              }

              @mixin draw-progress($progress, $color) {
                .pie {
                  .half-circle {
                    border-color: $color;
                  }

                  .left-side {
                    transform: rotate($progress * 3.6deg);
                  }

                  @if $progress <=50 {
                    .right-side {
                      display: none;
                    }
                  }

                  @else {
                    clip: rect(auto, auto, auto, auto);

                    .right-side {
                      transform: rotate(180deg);
                    }
                  }
                }
              }

              @mixin draw-progress--solid($progress, $color, $bg-color) {
                background: linear-gradient(to right, $color 50%, $bg-color 50%);

                &:before {
                  @if $progress <=50 {
                    background: $bg-color;
                    transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
                  }

                  @else {
                    background: $color;
                    transform: rotate((100 - $progress) / 100 * 360deg);
                  }
                }
              }

              // -- selectors

              .set-size {
                font-size: 5em;
              }

              .charts-container {
                &:after {
                  clear: both;
                  content: '';
                  display: table;
                }
              }

              .pie-wrapper {
                @include size($default-size, $default-size);
                float: left;
                // margin: 15px 0;
                position: relative;

                &:nth-child(3n + 1) {
                  clear: both;
                }

                .pie {
                  @include size(100%, 100%);
                  clip: rect(0, $default-size, $default-size, $default-size / 2);
                  left: 0;
                  position: absolute;
                  top: 0;

                  .half-circle {
                    @include size(100%, 100%);
                    border: ($default-size / 15) solid #3498db;
                    border-radius: 50%;
                    clip: rect(0, $default-size / 2, $default-size, 0);
                    left: 0;
                    position: absolute;
                    top: 0;
                  }
                }

                .label {
                  background: $bg-color;
                  border-radius: 50%;
                  bottom: $label-font-size-redo / 10;
                  color: #ecf0f1;
                  cursor: default;
                  display: block;
                  font-size: $label-font-size;
                  left: $label-font-size-redo / 10;
                  line-height: $label-font-size-redo * .70;
                  position: absolute;
                  right: $label-font-size-redo / 10;
                  text-align: center;
                  top: $label-font-size-redo / 10;

                  .smaller {
                    color: #bdc3c7;
                    font-size: .45em;
                    padding-bottom: 20px;
                    vertical-align: super;
                  }
                }

                .shadow {
                  @include size(100%, 100%);
                  border: $default-size / 15 solid #eee;
                  border-radius: 50%;
                }

                &.style-2 {
                  .label {
                    background: none;
                    color: #7f8c8d;

                    .smaller {
                      color: #bdc3c7;
                    }
                  }
                }

                &.progress-0 {
                  @include draw-progress(0, #F24773);
                }
                &.progress-1 {
                  @include draw-progress(1, #F24773);
                }
                &.progress-2 {
                  @include draw-progress(2, #F24773);
                }
                &.progress-3 {
                  @include draw-progress(3, #F24773);
                }
                &.progress-4 {
                  @include draw-progress(4, #F24773);
                }
                &.progress-5 {
                  @include draw-progress(5, #F24773);
                }
                &.progress-6 {
                  @include draw-progress(6, #F24773);
                }
                &.progress-7 {
                  @include draw-progress(7, #F24773);
                }
                &.progress-8 {
                  @include draw-progress(8, #F24773);
                }
                &.progress-9 {
                  @include draw-progress(9, #F24773);
                }
                &.progress-10 {
                  @include draw-progress(10, #F24773);
                }
                &.progress-11 {
                  @include draw-progress(11, #F24773);
                }
                &.progress-12 {
                  @include draw-progress(12, #F24773);
                }
                &.progress-13 {
                  @include draw-progress(13, #F24773);
                }
                &.progress-14 {
                  @include draw-progress(14, #F24773);
                }
                &.progress-15 {
                  @include draw-progress(15, #F24773);
                }
                &.progress-16 {
                  @include draw-progress(16, #F24773);
                }
                &.progress-17 {
                  @include draw-progress(17, #F24773);
                }
                &.progress-18 {
                  @include draw-progress(18, #F24773);
                }
                &.progress-19 {
                  @include draw-progress(19, #F24773);
                }
                &.progress-20 {
                  @include draw-progress(20, #F24773);
                }
                &.progress-21 {
                  @include draw-progress(21, #F24773);
                }
                &.progress-22 {
                  @include draw-progress(22, #F24773);
                }
                &.progress-23 {
                  @include draw-progress(23, #F24773);
                }
                &.progress-24 {
                  @include draw-progress(24, #F24773);
                }
                &.progress-25 {
                  @include draw-progress(25, #F24773);
                }
                &.progress-26 {
                  @include draw-progress(26, #F5E306);
                }
                &.progress-27 {
                  @include draw-progress(27, #F5E306);
                }
                &.progress-28 {
                  @include draw-progress(28, #F5E306);
                }
                &.progress-29 {
                  @include draw-progress(29, #F5E306);
                }
                &.progress-30 {
                  @include draw-progress(30, #F5E306);
                }
                &.progress-31 {
                  @include draw-progress(31, #F5E306);
                }
                &.progress-32 {
                  @include draw-progress(32, #F5E306);
                }
                &.progress-33 {
                  @include draw-progress(33, #F5E306);
                }
                &.progress-34 {
                  @include draw-progress(34, #F5E306);
                }
                &.progress-35 {
                  @include draw-progress(35, #F5E306);
                }
                &.progress-36 {
                  @include draw-progress(36, #F5E306);
                }
                &.progress-37 {
                  @include draw-progress(37, #F5E306);
                }
                &.progress-38 {
                  @include draw-progress(38, #F5E306);
                }
                &.progress-39 {
                  @include draw-progress(39, #F5E306);
                }
                &.progress-40 {
                  @include draw-progress(40, #F5E306);
                }
                &.progress-41 {
                  @include draw-progress(41, #F5E306);
                }
                &.progress-42 {
                  @include draw-progress(42, #F5E306);
                }
                &.progress-43 {
                  @include draw-progress(43, #F5E306);
                }
                &.progress-44 {
                  @include draw-progress(44, #F5E306);
                }
                &.progress-45 {
                  @include draw-progress(45, #F5E306);
                }
                &.progress-46 {
                  @include draw-progress(46, #F5E306);
                }
                &.progress-47 {
                  @include draw-progress(47, #F5E306);
                }
                &.progress-48 {
                  @include draw-progress(48, #F5E306);
                }
                &.progress-49 {
                  @include draw-progress(49, #F5E306);
                }
                &.progress-50 {
                  @include draw-progress(50, #F5E306);
                }
                &.progress-51 {
                  @include draw-progress(51, #4CB871);
                }
                &.progress-52 {
                  @include draw-progress(52, #4CB871);
                }
                &.progress-53 {
                  @include draw-progress(53, #4CB871);
                }
                &.progress-54 {
                  @include draw-progress(54, #4CB871);
                }
                &.progress-55 {
                  @include draw-progress(55, #4CB871);
                }
                &.progress-56 {
                  @include draw-progress(56, #4CB871);
                }
                &.progress-57 {
                  @include draw-progress(57, #4CB871);
                }
                &.progress-58 {
                  @include draw-progress(58, #4CB871);
                }
                &.progress-59 {
                  @include draw-progress(59, #4CB871);
                }
                &.progress-60 {
                  @include draw-progress(60, #4CB871);
                }
                &.progress-61 {
                  @include draw-progress(61, #4CB871);
                }
                &.progress-62 {
                  @include draw-progress(62, #4CB871);
                }
                &.progress-63 {
                  @include draw-progress(63, #4CB871);
                }
                &.progress-64 {
                  @include draw-progress(64, #4CB871);
                }
                &.progress-65 {
                  @include draw-progress(65, #4CB871);
                }
                &.progress-66 {
                  @include draw-progress(66, #4CB871);
                }
                &.progress-67 {
                  @include draw-progress(67, #4CB871);
                }
                &.progress-68 {
                  @include draw-progress(68, #4CB871);
                }
                &.progress-69 {
                  @include draw-progress(69, #4CB871);
                }
                &.progress-70 {
                  @include draw-progress(70, #4CB871);
                }
                &.progress-71 {
                  @include draw-progress(71, #4CB871);
                }
                &.progress-72 {
                  @include draw-progress(72, #4CB871);
                }
                &.progress-73 {
                  @include draw-progress(73, #4CB871);
                }
                &.progress-74 {
                  @include draw-progress(74, #4CB871);
                }
                &.progress-75 {
                  @include draw-progress(75, #4CB871);
                }
                &.progress-76 {
                  @include draw-progress(76, #068DF5);
                }
                &.progress-77 {
                  @include draw-progress(77, #068DF5);
                }
                &.progress-78 {
                  @include draw-progress(78, #068DF5);
                }
                &.progress-79 {
                  @include draw-progress(79, #068DF5);
                }
                &.progress-80 {
                  @include draw-progress(80, #068DF5);
                }
                &.progress-81 {
                  @include draw-progress(81, #068DF5);
                }
                &.progress-82 {
                  @include draw-progress(82, #068DF5);
                }
                &.progress-83 {
                  @include draw-progress(83, #068DF5);
                }
                &.progress-84 {
                  @include draw-progress(84, #068DF5);
                }
                &.progress-85 {
                  @include draw-progress(85, #068DF5);
                }
                &.progress-86 {
                  @include draw-progress(86, #068DF5);
                }
                &.progress-87 {
                  @include draw-progress(87, #068DF5);
                }
                &.progress-88 {
                  @include draw-progress(88, #068DF5);
                }
                &.progress-89 {
                  @include draw-progress(89, #068DF5);
                }
                &.progress-90 {
                  @include draw-progress(90, #068DF5);
                }
                &.progress-91 {
                  @include draw-progress(91, #068DF5);
                }
                &.progress-92 {
                  @include draw-progress(92, #068DF5);
                }
                &.progress-93 {
                  @include draw-progress(93, #068DF5);
                }
                &.progress-94 {
                  @include draw-progress(94, #068DF5);
                }
                &.progress-95 {
                  @include draw-progress(95, #068DF5);
                }
                &.progress-96 {
                  @include draw-progress(96, #068DF5);
                }
                &.progress-97 {
                  @include draw-progress(97, #068DF5);
                }
                &.progress-98 {
                  @include draw-progress(98, #068DF5);
                }
                &.progress-99 {
                  @include draw-progress(99, #068DF5);
                }
                &.progress-100 {
                  @include draw-progress(100, #068DF5);
                }
              }

            }
          }
        }

      }

      .project-process {
        display: none;

        >p {
          font-size: 14px;
          color: #3D3D3D;
          font-weight: bold;
          padding: 0 40px;
          margin: 0 !important;
        }

        .row {
          border-bottom: 0;
          justify-content: center;
          margin: 0 !important;

          .col-sm-6 {
            padding: 5px;

            .process {
              border-radius: 20px;
              padding: 5px;
              background-color: #F3F5FD;
              text-align: center;
              height: 130px;

              img {
                width: 70px;
                border-radius: 50%;
                margin: 5px 0;
              }

              p {
                margin: 0 auto;
                padding: 0;
                color: #3D3D3D;
                font-size: 14px;
                font-weight: bold;

              }
            }

            .update-popups {
              position: fixed;
              width: 100vw;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0, 0, 0, 0.5);
              display: none;

              .content {
                width: 100%;
                height: 100%;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .popup {
                  position: relative;
                  background-color: #fff;
                  border-radius: 15px;
                  min-width: 200px;
                  max-width: 450px;
                  padding: 50px 15px 15px 15px;
                  text-align: center;

                  .update-image {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  h4 {
                    color: #555;
                    font-weight: bold;
                    font-size: 18px;
                  }

                  .butns {
                    width: 100%;
                    padding: 10px;

                    .row {
                      .col-sm-6 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        button {
                          padding: 3px 45px;
                          border-radius: 20px;
                          border: none;
                          outline: none;
                          font-size: 14px;
                          font-weight: 700;
                          transition: all 0.3s;

                          &:hover {
                            box-shadow: 1px 1px 4px #aaa;
                          }
                        }

                      }

                      .col-sm-6:first-of-type button {
                        background-color: #4CB871;
                        color: #fff;
                      }

                      .col-sm-6:nth-of-type(2) button {
                        color: #D50000;
                      }

                    }
                  }

                }
              }
            }
          }
        }
      }

      .project-dates {
        >p {
          font-size: 14px;
          color: #3D3D3D;
          font-weight: bold;
          padding: 0 40px;
          margin: 0 !important;
          text-align: left;
        }

        .date-span {
          background-color: #F0F2FA;
          padding: 5px !important;
          border-radius: 15px;
          overflow: hidden;
          margin: 0 5px 3px 5px !important;
          max-width: 150px;
          max-height: 29px;

          input{
            border: none;
            outline: none;
            background-color: transparent;
            color: #3D3D3D;
          }
        }

        .project-images {
          border-bottom: none;
          overflow: hidden;
          margin: 0;

          .swiper {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            direction: rtl !important;
          }

          .swiper-slide {
            width: 200px;
            text-align: center;
            font-size: 18px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .date {
              width: 100%;
              background-color: #F3F5FD;
              border-radius: 10px;
              overflow: hidden;

              .date-img {
                width: 100%;

                img {
                  width: 100%;
                  height: 125px;
                }

                &:hover {
                  cursor: grab;
                }
              }

              p {
                font-size: 14px;
                font-weight: bold;
                color: #3498db;
                text-align: center;
                padding: 5px;
                margin: 0;
              }
            }
          }



        }



      }
    }
  }

  .modal {
    .modal-dialog {
        min-width: 200px;
        max-width: 450px;
      .modal-header {
        position: relative;
        border-radius: 15px;
        padding: 50px 15px 0 15px;
        text-align: center;
        border: none;
        outline: none;

        .update-image {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80px;
          height: 80px;
          border-radius: 50%;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .modal-body {
        text-align: center;
        h4 {
          color: #555;
          font-weight: bold;
          font-size: 18px;
        }
      }

      .modal-footer {
        border: none;
        outline: none;

        .butns {
          width: 100%;
          padding: 10px;

          .row {
            .col-sm-6 {
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;

              button {
                padding: 3px 45px;
                border-radius: 20px;
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 700;
                transition: all 0.3s;

                &:hover {
                  box-shadow: 1px 1px 4px #aaa;
                }
              }

            }

            .col-sm-6:first-of-type button {
              background-color: #4CB871;
              color: #fff;
            }

            .col-sm-6:nth-of-type(2) button {
              color: #D50000;
            }

          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .project-card-details {
    .row {
      .col-md-6:last-of-type {
        order: -1;
      }
    }
  }
}
