<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" [fullScreen]="true">
  <img src="../../../../assets/images/Dashboard-icons/loader.gif" alt="infinity-loader" class="img-fluid" class="infinity-loader">
</ngx-spinner>
<section class="content">
  <div class="row">
    <div class="sidebar">
      <div class="bg-white h-100">
        <ul class="h-100">
          <li class="active" routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
              alt="home"><span>{{"home" | translate }}</span></li>
          <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png"
              alt="projects"><span>{{"projects" | translate }}</span></li>
          <li routerLink="/calender"><img src="../../../../assets/images/Dashboard-icons/calender.png"
              alt="calender"><span>{{"calender" | translate }}</span></li>
          <li routerLink="/favourites"><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png"
              alt="favourites"><span>{{"favourite" | translate }}</span></li>
          <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
              alt="reports"><span>{{"statistic" | translate }}</span></li>
        </ul>
        <div class="list-group list-group-flush">
        </div>
      </div>
      <div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border border-bottom-1">
          <h5 class="offcanvas-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0 px-2 bg-white">
          <div class="bg-white h-100">
            <ul class="h-100">
              <li class="active" routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
                  alt="home"><span>{{"home" | translate }}</span></li>
              <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png"
                  alt="projects"><span>{{"projects" | translate }}</span></li>
              <li routerLink="/calender"><img src="../../../../assets/images/Dashboard-icons/calender.png"
                  alt="calender"><span>{{"calender" | translate }}</span></li>
              <li routerLink="/favourites"><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png"
                  alt="favourites"><span>{{"favourite" | translate }}</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
                  alt="reports"><span>{{"statistic" | translate }}</span></li>
            </ul>
            <div class="list-group list-group-flush">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-rtl">
      <nav class="navbar">
        <app-toggler></app-toggler>
        <!-- <h2 class="bg-danger">QPMO<sub>system</sub></h2> -->
        <img src="../../../../assets/images/Dashboard-icons/final_logo_2.png" style="width: 122px; margin: 5px 0" alt="qpmo_logo">
        <div class="d-flex justify-content-center align-items-center icons">
          <app-language></app-language>
          <img src="../../../../assets/images/Dashboard-icons/msg.png" alt="msgs" routerLink="/messages">
          <div class="dropdown">
            <button class="dropdown-toggle mx-2 p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../../../assets/images/Dashboard-icons/profile.png" alt="user" class="profile m-0">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <div class="row">
                  <div class="col-4 p-0">
                    <div class="profile-img">
                      <div class="layer">
                        <img class="img-fluid" src="../../../../assets/images/Dashboard-icons/profile.jpg"
                          alt="profile-img">
                      </div>
                    </div>
                  </div>
                  <div class="col-8">
                    <p>{{"ahmed-esmael" | translate }}</p>
                  </div>
                </div>
              </li>
              <li class="mt-2">
                <button routerLink="/profile" class="hover bg-secondary"><span>{{"profile" | translate
                    }}</span></button>
              </li>
              <li class="mb-2">
                <button data-bs-toggle="modal" data-bs-target="#logoutModal" class="hover bg-danger"><span>{{"log-out" | translate
                    }}</span></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid pt-3 ">
        <div class="row">
          <div class="col-sm-10 text-center p-2 px-3">
            <div class="search ">
              <span><i class="fa-solid fa-magnifying-glass"></i></span>
              <input type="search"  [placeholder]="'search' | translate" (keyup)="search($event)" autocomplete="off">
              <div class="dropdown">
                <button class="dropdown-toggle me-2 p-0" type="button" id="dropdownMenu"
                  data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  <img src="../../../../assets/images/Dashboard-icons/filter-gray.png" alt="user" class="profile m-0">
                </button>
                <form [formGroup]="filterForm" (ngSubmit)="submitFilterForm(filterForm)">
                  <ul class="dropdown-menu form-dropdown-menu" aria-labelledby="dropdownMenu">
                    <li>
                      <div class="row">
                        <div class="col-5">
                          <p>{{"project-type" | translate }}</p>
                        </div>
                        <div class="col-7">
                          <select class="w-100 border border-0" formControlName="ProjectType">
                            <option [value]="projectType.ID"  *ngFor="let projectType of projectsTypes">{{projectType.Name}}</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-5">
                          <p>{{"project-state" | translate }}</p>
                        </div>
                        <div class="col-7 ">
                          <select class="w-100 border border-0" formControlName="ProjectStatus">
                            <option [value]="projectStatus.ID"  *ngFor="let projectStatus of projectsStates">{{projectStatus.Name}}</option>
                          </select>
<!--
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <span>{{"current" | translate }}</span>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked formControlName="now_check">
                            </div>
                          </div>
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <span>{{"completed" | translate }}</span>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                formControlName="complete_check">
                            </div>
                          </div>
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <span>{{"late" | translate }}</span>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                formControlName="late_check">
                            </div>
                          </div>
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <span>{{"almost-done" | translate }}</span>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked formControlName="end_check">
                            </div>
                          </div>
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <span>{{"not-financial" | translate }}</span>
                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                formControlName="not_check">
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-5">
                          <p>{{"starting-date" | translate }}</p>
                        </div>
                        <div class="col-7 ">
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <input type="date" name="start_project" formControlName="StartDate" class="w-100">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-5">
                          <p>{{"ending-date" | translate }}</p>
                        </div>
                        <div class="col-7 ">
                          <div class="w-100 my-1 d-flex justify-content-between align-items-center">
                            <input type="date" name="end_project" formControlName="EndDate" class="w-100">
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-5">
                          <p>{{"Section A.Rate" | translate }}</p>
                        </div>
                        <div class="col-7 ">
                          <!-- begin:: price range inputs -->
                          <div class="custom-slider w-100 px-0">
                            <ngx-slider [(value)]="sectionMinValue" [(highValue)]="sectionMaxValue"
                              [options]="sectionOptions" formControlName="UserPer"></ngx-slider>
                          </div>
                          <!-- end:: price range inputs -->
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row">
                        <div class="col-5">
                          <p>{{"Contractor A.Rate" | translate }}</p>
                        </div>
                        <div class="col-7 ">
                          <!-- begin:: price range inputs -->
                          <div class="custom-slider w-100 px-0">
                            <ngx-slider [(value)]="constructorMinValue" [(highValue)]="constructorMaxValue"
                              [options]="constructorOptions" formControlName="MaqawlPer"></ngx-slider>
                          </div>
                          <!-- end:: price range inputs -->
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row footer d-flex justify-content-center align-items-center">
                        <div class="col-6 p-2 d-flex justify-content-center align-items-center">
                          <button type="submit" [disabled]="filterForm.invalid"  id="agree">{{"apply" | translate }}</button>
                        </div>
                        <div class="col-6 p-2 d-flex justify-content-center align-items-center">
                          <a id="exit" (click)="closeDropdown()">{{"cancel" | translate }}</a>

                        </div>
                        <div class="col-12 w-100 d-flex justify-content-center align-items-center p-2 text-center">
                          <p id="clearBtn" (click)="clearFilteredData()">{{"clear" | translate }}</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-2 py-2 px-0">
            <div class="theme">
              <div class="fav">
                <img
                  src="../../../../assets/images/Dashboard-icons/Favorite-blue.png"
                  alt="favourite" (click)="showUnFav()" *ngIf="isFav">
                  <img
                  src="../../../../assets/images/Dashboard-icons/Favorite-gray.png"
                  alt="favourite"  (click)="showFav()" *ngIf="!isFav">
              </div>
              <div class="theme-styles">
                <ul>
                  <li id="list" (click)="showList()"><img src="../../../../assets/images/Dashboard-icons/list.png"
                      alt="list"></li>
                  <li id="map" class="active-theme" (click)="showMap()"><img
                      src="../../../../assets/images/Dashboard-icons/map.png" alt="map"></li>
                  <li id="card" (click)="showCard()"><img src="../../../../assets/images/Dashboard-icons/card.png"
                      alt="card"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- begin map theme -->
        <div class="row row-map p-3" *ngIf="showen == 'maps'">
          <div>
            <google-map height="100%" width="100%" [center]="center" [zoom]="zoom" [options]="mapsop">
              <!-- <map-info-window><br>Get direction</map-info-window> -->
              <map-marker *ngFor="let markerPosition of projectslocations " [icon]="markerPosition.status"
                [position]="markerPosition.position" [options]="markerOptions"
                (mapClick)="MarkerClick(markerPosition);openProjectDetails(markerPosition)"></map-marker>
            </google-map>
          </div>
        </div>
        <!-- end: map theme -->
        <!-- begin: list theme  -->
        <div class="row row-list" *ngIf="showen == 'lists'">
          <div class="col-12 p-3">
            <div class="list table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th scope="col">{{"contract-no" | translate }}</th>
                    <th scope="col">{{"project-name" | translate }}</th>
                    <th scope="col">{{"contractors-name" | translate }}</th>
                    <th scope="col">{{"expire-date" | translate }}</th>
                    <th scope="col">{{"completion-rate" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of allListsProjects">
                    <td>
                      <div class="item">
                        <p>{{project.Project_ContractCode}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails(project.ID)">{{project.Project_Name}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{project.Maqawl.Maqawl_Name}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{project.Project_EndDate  | date: 'dd/MM/yyyy'}}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{project.Project_User_Percentage}}%</p>
                        <div class="progress">
                          <div class="progress-bar" [class]="project.Project_User_Percentage<=25?'bg-danger':project.Project_User_Percentage<=50?'bg-warning':project.Project_User_Percentage<=75?'bg-success':project.Project_User_Percentage<=100?'bg-primary':''" role="progressbar" aria-label="Success example"
                          [style.width]="project.Project_User_Percentage+'%'"  aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <div class="item">
                        <p>P0369659874</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"road" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Mohamed Abdelrahman" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>70%</p>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                            style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P0369873639</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"sanitaion" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Yahia Abdullah" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>98%</p>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Success example"
                            style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P036965441</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"road" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Islam Hassan" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>75%</p>
                        <div class="progress">
                          <div class="progress-bar bg-primary" role="progressbar" aria-label="Success example"
                            style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P0369873244</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"bridges" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Zayn Mostafa" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>57%</p>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" aria-label="Success example"
                            style="width: 57%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P0369873658</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"road-light" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Tarek Ali" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>60%</p>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" aria-label="Success example"
                            style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P0379873659</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"bridges" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Hamza Sayed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>65%</p>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" aria-label="Success example"
                            style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P0369873870</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"sanitaion" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Zeyad Ahmed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>10%</p>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" aria-label="Success example"
                            style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>P0369873732</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p class="hover" (click)="showProjectCardDetails()">{{"bridges" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Gamal Elsayed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>13-08-2022</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>45%</p>
                        <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                            style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end: list theme -->
        <!-- begin: card theme -->
        <div class="row row-card p-3" *ngIf="showen == 'cards'">
          <div class="col-12">
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4 p-2" *ngFor="let project of allCardsProjects">
                <div class="card">
                  <div class="row">
                    <div class="col-8">
                      <div class="card-data">
                        <table class="table table-borderless">
                          <tbody>
                            <tr>
                              <th>{{"contract-no" | translate }}</th>
                              <td>P0369873241</td>
                            </tr>
                            <tr>
                              <th>{{"project-name" | translate }}</th>
                              <td class="hover" (click)="showProjectCardDetails(project.Project_ID)">{{project.Project_Name}}</td>
                            </tr>
                            <tr>
                              <th>{{"contractors-name" | translate }}</th>
                              <td>{{"Abdullah Ibrahim" | translate }}</td>
                            </tr>
                            <tr>
                              <th>{{"expire-date" | translate }}</th>
                              <td>{{project.EndDate | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-4 p-0">
                      <div class="card-degree">
                        <div class="degree">
                          <div class="set-size charts-container">
                            <div class="pie-wrapper progress-{{project.Project_UserPercentage}} style-2">
                              <span class="label">{{project.Project_UserPercentage}}%<span class="smaller"></span></span>
                              <div class="pie">
                                <div class="left-side half-circle"></div>
                                <div class="right-side half-circle"></div>
                              </div>
                              <div class="shadow"></div>
                            </div>
                          </div>
                        </div>
                        <div class="fav-icon w-100 text-start px-3 py-2">
                          <img src="../../../../assets/images/Dashboard-icons/Favorite-gray.png" (click)="addProjectToFav(project.Project_ID)" *ngIf="!project.Project_ISFav" alt="fav-icon">
                          <img src="../../../../assets/images/Dashboard-icons/Favorite-blue.png"  (click)="removeProjectFromFav(project.Project_ID)" *ngIf="project.Project_ISFav" alt="fav-icon">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: card theme -->
        <div class="row">
          <app-project [data]="projectDetails"></app-project>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade logout-modal" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 400px">
    <div class="modal-content">
      <div class="modal-header text-center" style="border-bottom: 0 ">
        <img src="../../../../assets/images/Dashboard-icons/alert.png" style="width: 50px; margin: auto;" alt="alert logout">
      </div>
      <div class="modal-body text-center pb-0" style="border-bottom: 0 ">
        <h4>{{"log-out-word" | translate}}</h4>
        <p class="pt-2">{{"check-logout-msg" | translate}}</p>
      </div>
      <div class="modal-footer py-3">
          <button type="button"  data-bs-dismiss="modal">{{"cancel" | translate }}</button>
          <button type="button" data-bs-dismiss="modal" (click)="logOut();" routerLink="/login">{{"log-out-word" | translate }}</button>
      </div>
    </div>
  </div>
</div>
