<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true">
  <h6 style="color: white;"> {{"loading" | translate}} </h6>
</ngx-spinner>
<div class="languages">
    <img src="../../../../assets/images/Dashboard-icons/flag-ksa@2x.png" alt="arabic-theme" (click)="getArabic()" *ngIf="currentLanguage == 'en-sa'" class="lang-icon ar-icon">
    <img src="../../../../assets/images/Dashboard-icons/UK_flag.png" alt="english-theme" (click)="getEnglish()" *ngIf="currentLanguage == 'ar-sa'" class="lang-icon en-icon">
  </div>
