<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true">
  <h6 style="color: white;"> {{"loading" | translate}} </h6>
</ngx-spinner>
<section class="content">
  <div class="row">
    <div class="sidebar">
      <div class="bg-white h-100">
        <ul class="h-100">
          <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png" alt="home"><span>{{"home"
              | translate }}</span></li>
          <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png"
              alt="projects"><span>{{"projects" | translate }}</span></li>
          <li routerLink="/calender"><img src="../../../../assets/images/Dashboard-icons/calender.png"
              alt="calender"><span>{{"calender" | translate }}</span></li>
          <li routerLink="/favourites"><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png"
              alt="favourites"><span>{{"favourite" | translate }}</span></li>
          <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
              alt="reports"><span>{{"statistics" | translate }}</span></li>
        </ul>
        <div class="list-group list-group-flush">
        </div>
      </div>
      <div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border border-bottom-1">
          <h5 class="offcanvas-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0 px-2 bg-white">
          <div class="bg-white h-100">
            <ul class="h-100">
              <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
                  alt="home"><span>{{"home" | translate }}</span></li>
              <li routerLink="/projects"><img src="../../../../assets/images/Dashboard-icons/trackprojects.png"
                  alt="projects"><span>{{"projects" | translate }}</span></li>
              <li routerLink="/calender"><img src="../../../../assets/images/Dashboard-icons/calender.png"
                  alt="calender"><span>{{"calender" | translate }}</span></li>
              <li routerLink="/favourites"><img src="../../../../assets/images/Dashboard-icons/fav-darkgray.png"
                  alt="favourites"><span>{{"favourite" | translate }}</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
                  alt="reports"><span>{{"statistics" | translate }}</span></li>
            </ul>
            <div class="list-group list-group-flush">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <nav class="navbar">
        <app-toggler></app-toggler>
        <!-- <h2>QPMO<sub>system</sub></h2> -->
        <img src="../../../../assets/images/Dashboard-icons/final_logo.png" style="width: 90px; margin: 5px 0" alt="qpmo_logo">
        <div class="d-flex justify-content-center align-items-center icons">
          <app-language></app-language>
          <img src="../../../../assets/images/Dashboard-icons/msg.png" alt="msgs" class="message"
            routerLink="/messages">
          <div class="dropdown">
            <button class="dropdown-toggle mx-2 p-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="../../../../assets/images/Dashboard-icons/profile.png" alt="user" class="profile m-0">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <div class="row">
                  <div class="col-4 p-0">
                    <div class="profile-img">
                      <div class="layer">
                        <img class="img-fluid" src="../../../../assets/images/Dashboard-icons/profile.jpg"
                          alt="profile-img">
                      </div>
                    </div>
                  </div>
                  <div class="col-8">
                    <p>{{"ahmed-esmael" | translate }}</p>
                  </div>
                </div>
              </li>
              <li class="mt-2">
                <button routerLink="/profile" class="hover bg-secondary"><span>{{"profile" | translate
                    }}</span></button>
              </li>
              <li class="mb-2">
                <button (click)="logOut()" routerLink="/login" class="hover bg-danger"><span>{{"log-out" | translate
                    }}</span></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid w-100 pt-3">
        <div class="row">
          <div class="messages-content">
            <div class="list">
              <header>
                <h2>{{"incoming-mail" | translate }} ( {{messages.length}} )</h2>
              </header>
              <ul>
                <li *ngFor="let message of messages" (click)="showDetails();getMessageDetails(message.ID)" [class.selected]="message.ID == messageDetails.ID">
                  <div class="item-header">
                    <a >{{message.ProjectName}}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>{{message.Date | date:'medium' }}</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{message.Title}}</p>
                    <p>{{message.Message}}</p>
                  </div>
                </li>

                <!-- <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"buraydah-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>07:10 am</span>
                      <span>27/06/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"al-salama-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>11:40 am</span>
                      <span>22/03/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"buraydah-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>07:10 am</span>
                      <span>27/06/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"al-salama-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>11:40 am</span>
                      <span>22/03/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"buraydah-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>07:10 am</span>
                      <span>27/06/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"al-salama-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>11:40 am</span>
                      <span>22/03/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"buraydah-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>07:10 am</span>
                      <span>27/06/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"al-salama-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>11:40 am</span>
                      <span>22/03/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"buraydah-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>07:10 am</span>
                      <span>27/06/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"al-salama-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>11:40 am</span>
                      <span>22/03/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li>
                <li>
                  <div class="item-header">
                    <a (click)="showDetails()">{{"buraydah-project" | translate }}</a>
                    <div class="message-date d-flex justify-content-center align-items-center">
                      <span>07:10 am</span>
                      <span>27/06/2021</span>
                    </div>
                  </div>
                  <div class="item-body">
                    <p>{{"notice-of-approval" | translate }}</p>
                    <p>{{"project-msg" | translate }}</p>
                  </div>
                </li> -->
              </ul>
            </div>
            <div class="message-details" id="message-details">
              <header>
                <h3>{{messageDetails.ProjectName}}</h3>
                <div class="message-date d-flex justify-content-center align-items-center">
                  <span>{{messageDetails.Date | date:'medium' }}</span>
                </div>
              </header>
              <div class="message-content">
                <section>
                  <ul class="parent-message" >
                    <li>
                      <div class="msg-title">
                        <p>{{"subject" | translate }}</p>
                      </div>
                      <div class="msg-body">
                        <p>{{messageDetails.Title}}</p>
                      </div>
                    </li>
                    <li>
                      <div class="msg-title">
                        <p>{{"project" | translate }}</p>
                      </div>
                      <div class="msg-body">
                        <p>{{messageDetails.ProjectName}}</p>
                      </div>
                    </li>
                    <li class="message-height">
                      <div class="msg-title">
                        <p>{{"details" | translate }}</p>
                      </div>
                      <div class="msg-body">
                        <p>{{messageDetails.Message}}</p>
                      </div>
                    </li>
                  </ul>
                </section>
                <section *ngIf="subMessages.length > 0" class="px-4">
                  <ul *ngFor="let subMessage of subMessages" class="subParent-message py-0 mt-3">
                      <div class="msg-body w-100 px-2 py-0 my-0  d-flex justify-content-end">
                        <p class="fw-normal py-0 my-0">{{subMessage.Date | date:'medium' }}</p>
                      </div>
                    <li>
                      <div class="msg-title">
                        <p>{{"subject" | translate }}</p>
                      </div>
                      <div class="msg-body">
                        <p class="fw-bold">{{subMessage.Title}}</p>
                      </div>
                    </li>

                    <li class="message-height">
                      <div class="msg-title">
                        <p>{{"details" | translate }}</p>
                      </div>
                      <div class="msg-body">
                        <p>{{subMessage.Message}}</p>
                      </div>
                    </li>
                  </ul>
                </section>
              </div>
              <footer>
                <div>
                  <input type="text" id="message" autocomplete="off" placeholder="{{'message' | translate}}">
                  <!-- <div class="send">
                    <div class="image-upload">
                      <label for="file-input">
                        <img src="../../../../assets/images/Dashboard-icons/attachedfile.png" alt="attashedfile-icon">
                      </label>
                      <input id="file-input" type="file" />
                    </div>
                  </div> -->
                  <button type="submit" id="submitBtn" (click)="sendMessage();getMessageDetails(messageDetails.ID)">{{"send" | translate }}</button>
                </div>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
